<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>My Site</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/public/css/main.css">
</head>

<body>
    <main class="container">
        <h1 class="hp-header">Sorry But(t)</h1>
        <p>Ever not want to hang out with someone and not have a valid excuse? Do your milkshakes bring too many boys to your yard? We've created an excusal generator for you, so they won't question anything when it comes time for you to bail on plans. When you're ready, click on 'Generate Excuse' to get started </p>
        <div class="row">
            <div class="col-sm-6">
                {{{body}}}
            </div>
        </div>
    </main>
</body>

</html>
