<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Cancel My Plans</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/public/css/main.css">
</head>

<body>
    <main class="container">
        <h1 class="hp-header">Cancel My Plans</h1>
        <p class="hp-teaser">Ever not want to hang out with someone and not have a valid excuse? Whether it be rejecting a date or just not feeling like hanging out with your friends, we've created an excusal generator for you. Whoever you choose to use the excuse on won't question anything when it comes time for you to bail on plans. Click on 'Generate Excuse' until you find the perfect excuse.</p>
        <div class="row">
            <div class="col-sm-12">
                {{{body}}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">

                <h2>About the Hackers</h2>
                <p class="hp-hackers">We're a team of hackers from Stevens Institute of Technology in Hoboken, New Jersey. Jordana and Jenn are veteran hackers, and this is Laura's first hackathon! We're super pumped to bring her along and we're excited for you to use our project.</p>

              <div class="col-sm-4">
                <h4>Jordana Approvato</h4>
                <p class="hp-hackers-prof">Year: 4/5 <br />Major: Computer Science <br />Hometown: South Plainfield, NJ <br /> <a href="mailto:japprova@stevens.edu" alt="japprova@stevens.edu">Contact me</a> </p>
              </div>
              <div class="col-sm-4">
                <h4>Jennifer Cafiero</h4>
                <p class="hp-hackers-prof">Year: 3/5 <br /> Major: Computer Science <br />Hometown: Clark, NJ <br /> <a href="mailto:jcafiero@stevens.edu" alt="jcafiero@stevens.edu">Contact me</a></p>
              </div>
              <div class="col-sm-4">
                <h4>Laura Oliveto</h4>
                <p class="hp-hackers-prof">Year: 2/4 <br /> Major: Software Engineering <br />Hometown: Rockaway, NJ <br /><a href="mailto:loliveto@stevens.edu" alt="loliveto@stevens.edu">Contact me</a></p>
              </div>
            </div>
        </div>
    </main>
</body>

</html>
