/* main css stylesheet */
@import url('https://fonts.googleapis.com/css?family=Dosis:300,400,500,700');

.hp-header {
  font-family: 'Dosis', sans-serif;
  font-size: 4em;
  line-height: 2em;
  background-color: #d3d3d3;
  padding: 20px;
}

.hp-excusal {
  font-size: 1em;
  text-align: center;
}
