/* main css stylesheet */
@import url('https://fonts.googleapis.com/css?family=Dosis:300,400,500,700');

hp-header {
  font-family: 'Dosis', sans-serif;
  font-size: 4em;
  line-height: 4.1em;
  background-color: blue;
}
